.equipment-sect h1{
    text-align: center;
    background-color: greenyellow;
    border-radius: 10px;
}
.equipment-sect {
    background-size: repeat;
    background-repeat: repeat;
    height: 100vh;
}


