.columns h1{
    text-align: center;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 5px;
}
.columns {
    background-image: url("/public/images/lawn.png");
    background-size: cover;
    height: 100vh;
}


