.main-nav {
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.main-nav li {
    list-style-type: none;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    
}
.hide-small {
    display: none;
}


/* Activates when width > 900 */
@media screen and (min-width: 900px){
    .main-nav ul{
        display:flex;
    }
    .main-nav li {
        flex: 1;
    }
    .main-nav button {
        display: none;
    }
    .hide-small {
        display: flex;
    }
    
}
