.house-plan {
    background-color: antiquewhite;
    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 15px;
}
.feature-image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 350px;
    height: 250px;
    padding: 10px;
}
.info h2 {
    text-align: center;
}
.info p {
    display: block;
    margin-left: 5px;
    font-size: 25px;
}

#change-buttons {
    margin-top: 10px;
    margin-left: 20px;
}
#change-buttons a {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 20px;
}

